/* GLobal Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
html {
  font-size: 62.5%;
}
h1 {
  font-size: 2.3rem;
}
li,
button,
label,
input,
p {
  font-size: 1.9rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 2.5rem;
  font-weight: normal;
}
h4,
h5 {
  font-size: 2.8rem;
}
a {
  color: white;
  text-decoration: none;
}
nav {
  color: white;
}
button {
  padding: 1rem 4rem;
  background-color: #4c6e97;
  border: none;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
button:hover {
  background: #27394e;
  font-weight: bold;
}
/* Nav section our HERO */
.main-head {
  background-color: #131327;
  position: sticky;
  top: 0px;
}

nav {
  align-items: center;
  display: flex;
  width: 90%;
  margin: auto;
  padding: 2rem;
  min-height: 10vh;
  flex-wrap: wrap; /* in order to make it mobile friendly*/
}
nav ul {
  display: flex;
  flex: 1 1 40rem;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}
#logo {
  flex: 2 1 40rem;
  font-family: "Pattaya", sans-serif;
  font-weight: normal;
}
.hero {
  min-height: 90vh;
  background: linear-gradient(rgb(36, 35, 35), transparent),
    url("/GetSetGo!/Icons/pexels-creative-vix-9754.jpg");
  background-position: center;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.hero h3 {
  padding: 5rem;
}
/*Locations Sections*/
#locations {
  min-height: 100vh;
  background: linear-gradient(rgb(36, 35, 35), transparent),
    url("/GetSetGo!/Icons/pexels-joyston-judah-933054.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
}
.locations-head {
  color: white;
  width: 90%;
  margin: auto;
}
.locations-head h2 {
  padding: 1rem 0rem;
  text-decoration: underline;
}
.locations-head h3 {
  padding: 4rem 0rem;
}
/*Benefits Section */
.benefits-head {
  background: #343c44;
  padding: 3rem;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-align: center;
}
.benefits-head h3 {
  padding: 1rem;
}
.cards {
  width: 90%;
  margin: auto;
  display: flex;
  height: 70vh;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}
.card {
  flex: 1 1 25rem;
  min-height: 40vh;
  margin: 2rem 5rem;
  box-shadow: 0px 10px 10px black;
}
.cards img {
  align-items: center;
  height: 80px;
  margin: 2rem;
}
#contact {
  min-height: 100vh;
  background: linear-gradient(rgb(36, 35, 35), transparent),
    url("/GetSetGo!/Icons/pexels-pixabay-414171.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-wrapper {
  background-color: rgba(19, 28, 38, 0.9);
  width: 60%;
  border-radius: 20px;
  color: white;
}
.contact-head {
  text-align: center;
  padding: 4rem;
}
.name-form,
.email-form {
  padding: 3rem;
  text-align: center;
}
.form-wrapper label {
  margin: 0 4rem;
}
.form-wrapper button {
  width: 100%;
  padding: 2rem;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
footer {
  color: white;
  background-color: #27394e;
}
.footer {
  display: flex;
  padding: 2rem;
  margin: auto;
  width: 90%;
  align-items: center;
  min-height: 10vh;
}
.footer li {
  list-style: none;
}
footer h5 {
  flex: 1 1 40rem;
}
footer ul {
  display: flex;
  flex: 1 1 40rem;
  justify-content: space-between;
  align-items: center;
}
/* just to make it more mobile friendly we'll use "media" wala option*/
@media screen and (max-width: 932px) {
  html {
    font-size: 40%;
  }
  nav {
    text-align: center;
  }
  #logo {
    padding: 2rem;
  }
}
